@import 'reset'
@import 'fonts'

$primaryColor: #1a237e
$altColor: #9419ff
$altFont: 'Young Serif', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

::-moz-selection
  background: #eeeeee
  color: #444
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1)

::selection
  background: #eeeeee
  color: #444
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1)

.constrained
  max-width: 980px
  margin: 0 auto
  padding: 0 3em

html
  background: #ffd8de
  font-family: 'Cousine', monospace

img
  max-width: 100%

a
  color: $primaryColor
  text-decoration: none
  &:hover
    text-decoration: underline

body
  line-height: 1.5
  color: $primaryColor

.mission
  font-size: 0.85em
  max-width: 42em
  margin: 0 auto

#hosny
  .setup h2
    font-family: $altFont

.hosny-description
  text-align: center
  margin-bottom: 8em
  h3
    margin: 4em auto
    font-weight: bold
    text-transform: uppercase
    display: inline-block
    border-bottom: 1px solid $primaryColor

.hosny-questions
  text-align: left
  display: flex
  justify-content: space-between
  h2
    font-family: $altFont
    font-size: 1.2em
    min-height: 4em
  div
    flex: 1
    max-width: 45%
  p
    font-size: 0.9em

.hosny-wrapper
  clear: both
  border-top: 1px solid #ffaab6
  border-bottom: 1px solid #ffaab6

header
  padding-top: 4em
  h1
    font-family: $altFont
    font-size: 1.8em
    text-align: center
    margin: 0 0 0.5em 0

footer
  text-align: center
  padding: 8em 0
  font-size: 0.9em
  h3
    font-weight: bold
    text-transform: uppercase
    margin: 0 0 0.5em 0

@media only screen and (max-width: 400px)
  #hosny .setup.compact,
  #hosny .graphs
    display: none !important
  .hosny-questions
    display: block
  .hosny-questions div
    width: 100%
    max-width: none
    margin: 0 0 4em 0
  .mission
    padding: 0 2.5em
  #hosny
    min-height: 400px !important
  #hosny .setup
    overflow-y: scroll
  #hosny .simulation
    width: 100% !important
    left: 0