{% extends 'layout.html' %}

{% block content %}
<main role="main">
    <header>
        <h1>Public Science Agency</h1>
        <div class="mission">Public Science Agency (PSA) is a research lab and creative consultancy co-founded by Fei Liu and Francis Tseng. Together, they explore the possibilities of games and simulations as tools for illustrating how society uses technology, and how technology informs social behavior. </div>
    </header>
    <section class="hosny-description constrained">
        <h3>Humans of Simulated New York</h3>
        <div class="hosny-questions">
            <div>
                <h2>Can technology help us make better decisions?</h2>
                <p>Humans of Simulated New York is a dynamic way of visualizing and extracting narratives from static data. It is an interactive simulation tool that helps people make data-narrative driven design decisions.</p>
            </div>
            <div>
                <h2>Can utopia exist?</h2>
                <p>It allows for creative exploration of the problem space and turns the problem into a testing ground where participants are free to brainstorm and suspend disbelief. Uncover blind spots and start the process to more imaginative ways of looking at complex problems from the standpoint of gameplay and exploration.</p>
            </div>
        </div>
    </section>
    <section class="hosny-wrapper">
        {% include 'hosny.html' %}
    </section>
    <footer>
        <h3>Get In Touch!</h3>
        <p><a href="mailto:fei@publicscience.agency">fei@publicscience.agency</a> | <a href="mailto:francis@publicscience.agency">francis@publicscience.agency</a></p>
    </footer>
</main>
{% endblock %}
